{% extends 'layouts/layout.html' %}
{% set title = 'Chamados' %}
{% set pages = [
{ title: "Chamado", url: "/chamados"},
{ title: "Listagem", url: ""}
] %}

{% block conteudo %}
<div class="row">
  <div class="col-12">
    <div class="card mb-4">
      <div class="card-header pb-0">
        <h6>Listagem de chamados</h6>
      </div>
      <div class="card-body px-0 pt-0 pb-2">
        <div class="table-responsive p-0">
          <table class="table align-items-center mb-0">
            <thead>
              <tr>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7" Width="10">Qtd.</th>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Assunto</th>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Cliente</th>
                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Data Abertura</th>
                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Status</th>
                <th class="text-secondary opacity-7"></th>
              </tr>
            </thead>
            <tbody>
              {% for chamado in listaChamados %}
              <tr>
                <td class="text-xs text-center text-secondary mb-0">{{ loop.index }}</td>
                <td>
                  <div class="d-flex px-2 py-1">
                    
                    <div class="d-flex flex-column justify-content-center">
                      <h6 class="mb-0 text-sm">{{ chamado.assunto }}</h6>
                      <p class="text-xs text-secondary mb-0">Chamado aberto por: </p>
                    </div>
                  </div>
                </td>
                <td>
                  <p class="text-xs text-secondary mb-0">Organization</p>
                </td>
                
                <td class="align-middle text-center">
                  <span class="text-secondary text-xs font-weight-bold">{{ chamado.dataAbertura | date("DD/MM/YYYY HH:mm")}}</span>
                </td>
                <td class="align-middle text-center text-sm">

                  {% set tipo = "success" if chamado.situacao == 'ABERTO' else "secondary" %}

                  <span class="badge badge-sm bg-gradient-{{ tipo }}">{{ chamado.situacao }}</span>
                </td>
                <td class="align-middle">
                  <a href="/chamados/{{ chamado.id }}/atualizar/" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip"
                    data-original-title="Edit user">
                    Edit
                  </a>
                </td>
              </tr>
              {% endfor %}             
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}